.home {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Section */
.home-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 100px 50px;
  gap: 20px;
  animation: fade-in 1.5s ease-out;
  margin-bottom: 50px;
}

.header-content {
  flex: 1;
  animation: slide-in-left 1s ease-out;
}

.header-content h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  font-weight: bolder;
  animation: fade-in 1.5s ease-in-out;
}

.header-content p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.05);
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.primary-btn {
  background-color: rgb(133, 43, 43);
  color: var(--primary-color);
  font-weight: bold;
}

.header-animation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoom-in 2s ease-in-out;
}
.header-content-out{
  display: flex;
  
}
.header-image {
  max-width: 100%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0px);
  }
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: fade-in-up 1.5s ease-out;
}

/* About Section */
.about-section {
  width: 90%;
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
  border-left: 10px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 10px rgb(211, 210, 210);
  animation: slide-in-right 1s ease-in-out;
}

.about-section h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 20px;
  animation: fade-in 1s ease-in-out;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}

/* How It Works Section */
.how-it-works {
  padding: 50px 20px;
  background-color: white;
  text-align: center;
  animation: fade-in-up 1.5s ease-in-out;
}

.how-it-works h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 30px;
  animation: fade-in 1.5s ease-in;
}

.steps {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  width: 90%;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
  min-width: 250px;
  border-left: 10px solid var(--primary-color);
  box-shadow: 0.5px 0.5px 10px rgb(211, 210, 210);
  animation: fade-in-up 1s ease-out;
}

.step h3 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
  animation: fade-in-right 1s ease-in;
}

.step p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Benefits Section */
.benefits-section {
  width: 90%;
  padding: 50px 20px;
  background-color: #f8f9fa;
  text-align: center;
  border-left: 10px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 10px rgb(211, 210, 210);
  animation: zoom-in 1.5s ease-in-out;
}

.benefits-section h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 20px;
}

.benefits-section ul {
  list-style: none;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  animation: fade-in-up 1.5s ease-out;
}
.benefits-section li:before {
  content: "✔";
  color: var(--primary-color);
  position: absolute;
  left: 0;
  font-size: 1.2rem;
}
.benefits-section li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  animation: fade-in-right 1s ease-in-out;
}

/* Keyframes for Animations */
@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fade-in-right {
  0% {
      opacity: 0;
      transform: translateX(-30px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slide-in-left {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes zoom-in {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
@media screen and (max-width: 768px) {
 
  .home-header{
    padding: 50px 50px;
  }
  .header-content h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .header-content p{
    font-size: 1rem;
  }
  .header-content-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    img{
      margin-top: 50px;
      width: 100%;
    }
  }
}